body {
  color: black;
  padding: 0px;
  margin: 0px;
}

h1:first-child {
  margin-top: 0;
  padding-top: .25em;
  border-top: none;
}
h1, h3 {
  margin-bottom: 0px;
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  margin: 1em 0;
  margin-left: 1em;
  border-left: 5px solid #ddd;
  padding-left: .6em;
  color: #555;
}

p {
  font-size: 16px;
  margin: 1em 0;
  line-height: 1.4em;
}


pre,code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  line-height: 0em;
}
pre {
  margin: 1em 0;
  font-size: 12px;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  line-height: 1.5em;
  color: #444;
  overflow: auto;
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre code {
  padding: 0;
  font-size: 12px;
  background-color: #eee;
  border: none;
}
code {
  font-size: 12px;
  background-color: #f8f8ff;
  color: #444;
  padding: 0 .2em;
  border: 1px solid #dedede;
}

sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

header {
  width: 100%;
  padding: 0px 40px 8px 0px;
  background-color: #f0f0f0;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  clear: both;
}

header img {
  border: 1px solid #000;
  border-radius: 10px 10px 0px 0px;
}

header a {
  color: black;
}

header h1 {
  color: #000;
  padding: 10px 0px;
}

div.clearer {
  clear: left;
  line-height: 0;
  height: 0;
}

#header {
  margin-left: 40px;
  padding-top: 5px;
  clear: both;
}

#menu {
  /*min-height: 10px;*/
  background-color: #f0f0f0;
  line-height: 1.2em;
  padding: 5px 10px 5px 40px;
  margin: 0px;
  color: #000;
}

#menu p {
  margin: 0px;
}

#menu a {
  padding: 2px 5px 2px 0px;
}

#menu a:first-child {
  /*  padding-left: -5px;*/
}

#logo {
  float: left;
  width: 80px;
  margin-right: 20px;
}

#main {
  width: 940px;
  clear: both;
  padding: 0px 40px;
  min-height: 100px;
  overflow: hidden;
}

article img {
  width: 100%;
}

#articles {
  float: left;
  width: 640px;
  overflow: hidden;
}

.frontpage {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

time {
  color: #808080;
  font-style: italic;
  font-size: 0.95em;
}

aside.sidebar {
  float: right;
  width: 200px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  margin: 20px auto 5px auto;
  min-height: 80px;
  padding: 5px 10px 0px 10px;
}

aside.note {
  /* background: #1f8dd6; */
  background: #fefbed;
  border: 2px solid #f1e7bc;
  padding: 0.3em 1em;
  margin: 15px 0px;
  border-radius: 3px;
  color: #000;
}

img.twitter {
  width: 32px;
  height: 32px;
}

.footnotes {
  font-size: 0.9em;
  padding-top: 30px;
}

footer {
  clear: both;
  font-size: 0.9em;
  border-top: 1px solid #f0f0f0;
  color: #808080;
  margin: 40px auto;
  margin-left: 40px;
  margin-right: 40px;
  padding: 40px 0px;
  text-align: center;
}

#archives article {
  padding-bottom: 5px;
}

#archives .time {
  color: #808080;
}

#archives .title {
  padding-left: 10px;
}

#archives .post {
  font-weight: bold;
}

#archives .link {
  /*    color: #56ACFF;*/
}

.mobile {
  display: none;
}

@media screen and (max-width: 979px) {

  /* fill up the screen */
  #main {
    width: auto;
  }
  
  /* avoid floating and fill up the screen */
  #articles {
    width: auto;
    float: none;
  }
  
  /* avoid floating and fill up the screen */
  aside.sidebar {
    float: none;
    width: auto;
  }

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  
  header {
    padding-bottom: 0px;
  }

  /* hide the header */
  #header {
    display: none;
  }
  
  .time {
    display: none;
  }
  
  .time.mobile {
/*    padding-left: 6px;*/
    display: inline;
  }
  
  #archives .title {
    padding-left: 0px;
  }
}
